<h1>Welcome, {{user.username}}! </h1>
<span>{{user.location}}</span>
<div class="info">
  <h3>List of nearby cinemas</h3>

  <div>
    <input id="address" type="textbox" value="{{user.location}}">
    <input type="button" value="Search" onclick="codeAddress()">
  </div>

  <br>
  <div id="placeMap"></div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../javascripts/main.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?v=quarterly&key={{Api}}&callback=initMap&libraries=places"> </script>
  {{!-- <script
    src="https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={{user.location}}&radius=1500&type=movie_theater&key={{Api}}&callback=initMap"></script> --}}