<h1>Welcome, {{user.username}}! </h1>
<span>{{user.location}}</span>
<div class="info">
  <h3>List of nearby cinemas</h3>

  <div>
    <input id="address" type="textbox" value="{{user.location}}">
    <input type="button" value="Search" onclick="codeAddress()">
  </div>
  <div id="placeMap"></div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../javascripts/main.js"></script>
  <script src=" https://maps.googleapis.com/maps/api/js?key={{Api}}&callback=initMap"> </script>
  {{!-- <script src="https://maps.googleapis.com/maps/api/geocode/json?address={{user.location}}&key={{Api}}"></script> --}}