

<h3>Trending Movies</h3>
<div class="glide">

  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides align-items-start">

      {{#each popular}}

      <li class="glide__slide">

        <a href="/movies/{{id}}/details" class="text-decoration-none text-reset">
          <figure><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{poster_path}}" alt="{{title}}"></figure>
          <h5>{{title}}</h5>
        </a>


      </li>

      {{/each}}

    </ul>
  </div>
  <hr>
</div>

<h3>Upcoming Movies</h3>
<div class="glide2">

  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides align-items-start">

      {{#each upcoming}}

      <li class="glide__slide">

        <a href="/movies/{{id}}/details" class="text-decoration-none text-reset">
          <figure><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{poster_path}}" alt="{{title}}"></figure>
          <h5>{{title}}</h5>
        </a>


      </li>

      {{/each}}

    </ul>
  </div>
  <hr>
</div>
<h3>Top Rated Movies</h3>
<div class="glide3">

  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides align-items-start">

      {{#each top_rated}}

      <li class="glide__slide">



        <a href="/movies/{{id}}/details" class="text-decoration-none text-reset">
          <figure><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{poster_path}}" alt="{{title}}"></figure>
          <h5>{{title}}</h5>
        </a>


      </li>

      {{/each}}

    </ul>
  </div>
  <hr>
</div>

<script src="/glide/dist/glide.min.js"></script>
<script src="/javascripts/sliders.index.js"></script>