<div class="container">
  <div class="row">
    <div class="col-md-6">
      <figure>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{movie.poster_path}}" alt="{{movie.title}}">
      </figure>
      <a class="btn btn-outline-success my-2 my-sm-0" href="/movies/{{movie.id}}/favourites">Add to favourites</a>
      <iframe height="400px" width="500px" src="https://www.youtube.com/embed/{{video.key}}">
      </iframe>
    </div>
    <div class="col-md-6">
      <h3>{{movie.title}}</h3>
      <p>{{movie.overview}}</p>
      <h5>Géneros</h5>
      <ul>
        {{#each movie.genres}}
        <li>{{name}}</li>
        {{/each}}
      </ul>
      <div class="row">


        <div class="glide">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">

              {{#each crew}}

              <li class="glide__slide">
                <a href="/movies/actor/{{id}}/profile">
                  <figure class="actor">
                    <img src="https://image.tmdb.org/t/p/w276_and_h350_face{{profile_path}}" alt="{{name}}">
                  </figure>
                  <h5>{{name}}</h5>
                  <p>{{character}}</p>
                </a>
              </li>

              {{/each}}

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../../glide/dist/glide.min.js"></script>
<script>
  new Glide('.glide', {
    type: 'carousel',
    startAt: 0,
    perView: 4
  }).mount()
  console.log("llama al glide")

</script>