<h4>Resultados de la búsqueda de <b>{{search}}:</b></h4>

<hr>

<div class='result'>

  <div class="row justify-content-around ">

    {{#each results}}

    <div class="col-md-3">
      <figure class='result'>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{poster_path}}" alt="{{title}}">
      </figure>
    </div>

    <div class="col-md-9">
      <a href="/movies/{{id}}/details" class="text-decoration-none text-reset">
        <h5> {{title}} </h5>
      </a>
    </div>

    {{/each}}
    <div class="row justify-content-center">

      <a id="prevpage" class="btn btn-outline-success my-2 my-sm-0 m-5"
        href='/movies/search?query={{search}}&page=0'>prev
        page</a>
      <a id="nextpage" class="btn btn-outline-success my-2 my-sm-0 m-5"
        href='/movies/search?query={{search}}&page={{page}}'>next
        page</a>
    </div>
  </div>
  <hr>

</div>